{% extends 'base.html' %}
{% block content %}
 <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'discussion' %}">Boards</a></li>
        <li class="breadcrumb-item active">{{ post.name }}</li>
      </ol>
     {% if request.user.is_superuser %}
       <div class="mb-4">
           <a href="{% url 'new_topic' post.pk %}" class="btn btn-primary" role="button">New Topic</a>
           <a href="{% url 'export_topics_xls'  %}" class="btn btn-primary" role="button">Export Topics</a>
       </div>
     {% endif %}
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Topic</th>
            <th>Starter</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last Update</th>
            {% if request.user.is_superuser %}
                <th>Actions</th>
             {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for topic in topics %}
            <tr>
              <td>
                  <a href="{% url 'topic_posts' post.pk topic.pk %}" style="position: relative;"> {{ topic.subject }}</a>
                <small class="text-muted d-block">{{ topic.author }}</small>
              </td>
              <td class="align-middle">{{ topic.author }}</td>
              <td class="align-middle">{{ topic.replies }}</td>
              <td class="align-middle">{{ topic.views }}</td>
              <td>{{topic.last_updated}}</td>
              {% if request.user.is_superuser %}
                  <td><a href="{% url 'edit_topic' topic.board.pk topic.pk %}" class="btn btn-warning">Edit</a></td>
                  <td><a href="{% url 'delete_topic' topic.board.pk topic.pk %}"
                               onclick="return confirm('Are you sure you want to delete?')"
                               class="btn btn-danger">Delete</a ></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
 </div>
{% endblock content %}